<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


 h1{

  margin-top: 100px; 
}


h2 {
  color: #3c1b66;
  font-weight: normal;
  font-size: 20px;
  font-family: Arial;
  text-align: top;
  top: 50%
  padding: 10px;
  margin-top: -50px;
}

p {

  font-weight: normal;
  font-size: 15px;
  font-family: Arial;
  text-align: top;
  top: 50%
  padding: 10px;
  
}
.container{
  background-color: #FFFFFF;
  padding: 0px;
  width: 1350px;
  height: 570px;
  display: inline-block;
  border: 1px solid;
}

.caja1 {
    position: relative;
    float:left;
    width: 380px;
    height: 380px;
    background-color: #FFFFFF;
    padding: 75px;
    margin: 0px 0px 20px 10px;
    opacity: 0.5;
}
.caja2 {
    position: relative;
    float: left;
    width: 500px;
    height: 380px;
   
    padding: 15px;
    margin: -15px 0px 20px 10px;
   
}
.caja3 {
    position: relative;
    float: right;
    width: 315px;
    height: 380px;
    background-color: #4493DA;
    padding: 75px;
    margin: 0px 0px 20px 10px;
    opacity: 0.5;
}



.datos2 {
    position: relative;
    float: right;
    width: 100px;
    height: 50px;
    background-color:#4493DA;
    padding: 75px;
    margin: 20px 0px 20px 10px;
}

</style>
</head>

<div class="navbar">
  <a href="video">Video</a>
  <a href="reporte" target="_blank">Reporte</a>
  <div class="dropdown">
  </div> 
</div>

<h3></h3>
<div class="container">
  <div class="caja1">
        <div class="datos1">
          <img src="static/keep.png" height="400" width="400">
        </div>
       <!--  <div class="datos2">
          <h2 style="font-weight: bold;">Cámara 1</h2>
          <p style="font-weight: bold;">Personas Detectadas: 2</p>
          <p style="font-weight: bold;">Personas que incumplen: 0</p>
        </div>--> 
  </div>

  <div class="caja2">
    <img src="{{ url_for('video_feed') }}">

    
  </div>
  <!-- <div class="caja3">
    <h1 >VIDEO DE DETECCIÓN DE CÁMARA 2</h1> 

  </div> --> 
</div>















</body>
</html>


    
 