<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>





body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


 h1{

  margin-top: 100px; 
}


h2 {
  color: #3c1b66;
  font-weight: normal;
  font-size: 20px;
  font-family: Arial;
  text-align: top;
  top: 50%
  padding: 10px;
  margin-top: -50px;
}

p {

  font-weight: normal;
  font-size: 15px;
  font-family: Arial;
  text-align: top;
  top: 50%
  padding: 10px;
  
}
.container{
  background-color: #FFFFFF;
  padding: 10px;
  display: inline-block;
  border: 1px solid;
}

.caja1 {
    position: relative;
    float:left;
    width: 625px;
    height: 500px;
    background-color: #4493DA ;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    opacity: 0.5;
}
.caja2 {
    position: relative;
    float: left;
    width: 625px;
    height: 500px;
    background-color: #4493DA ;
    padding: 10px;
    margin: 0px 0px 20px 10px;
    opacity: 0.5;
}


.datos1 {
    position: relative;
    float: right;
    width: 100px;
    height: 50px;
    background-color: #F8CF7E;
    padding: 75px;
    margin: 0px 0px 20px 10px;
}

.datos2 {
    position: relative;
    float: right;
    width: 100px;
    height: 50px;
    background-color: #F8CF7E;
    padding: 75px;
    margin: 0px 0px 20px 10px;
}

.palabrareporte{
    text-align:center;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;



}

table{border-collapse:collapse;}
th,tr,td{
  border:1px solid #000;
  width:150px;
  height:45px;
  vertical-align:middle;
  text-align:center;
}
th{
  color:#fff;
  background-color: #252525;
}

tr:nth-child(odd) td{
  background-color:#eee;
}

.bt2{
  padding:6px;border-radius:10px;
  font-size: 12px;
  font-family: Arial;
  

}

.caja4 {
 
    background-color: #FFFFFF;
    width:355px;
    height:210px;
    padding:10px;
    
    margin: 0px 10px 20px -75px;
  

}

table {
  width: 90%;
  height: 300px;
  margin: 0px 0px 0px 0px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #1300c3;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


</style>
</head>

<div class="navbar">
  <a href="video">Video</a>
  <a href="reporte" target="_blank"> Reporte</a>
  <div class="dropdown">
  </div> 
</div>

<h3></h3>
<div class="container">
  <div class="caja1">
         <div class="palabrareporte">REPORTE DE DISTANCIAMIENTO </div>
         <br>
         <br>
          <h3 class="text-primary"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Rango de Fechas</h3>
          
         <form action = "" method="post">  
            <label>Fecha Desde:</label>
            <input name="Fechadesde" type="date" class="form-control"  id="Date1" value="yyyy/MM/dd">
            <br> <br>
            <label>&nbsp; Hasta:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="Fechahasta" type="date" class="form-control" id="Date2" value="yyyy/MM/dd" >
             <br>
              <br>

            <tr>
              <td>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit"  value="Consultar Reporte"></b>
             
            </td>
          </tr>
          </form>
        <div style="width:600px; height:220px; overflow:auto;">
            <table cellspacing="0" cellpadding="1" border="1" width="300" > 
     
      <br>
      <thead>  
        <td><b>Id</b></td>  
        <td><b>Fecha</b></td>  
        <td><b>Hora</b></td>  
        <td><b># Personas Detectadas</b></td>  
        <td><b># Personas que incumplen distanciamiento</b></td>
    </thead>  
                            {% for reporte in datos %}
                              <tr>  
                                  <td>{{reporte.id_deteccion}}</td>  
                                  <td>{{reporte.fecha}}</td>  
                                  <td>{{reporte.hora}}</td>  
                                  <td>{{reporte.personas_detectadas}}</td> 
                                  <td>{{reporte.personas_incumplen}}</td>  
                              </tr>  
                            {% endfor %}
   </table>   
</div>
        <br>
        <br>
        <br>
             
          
             


  </div>
 

 
</div>







      

 
    
       
    
       


      
       








</body>
</html>